<nav class="container-fluid">
    <ul>
        <li><img alt="logo" src="/Images/icons8-database-64.png" /></li>
        <li><strong>Blazor 8</strong></li>
    </ul>
    <ul>
        <li><a href="/"><i class="las la-home"></i> Home</a></li>
        <li><a href="/form-01"><i class="las la-wind"></i> Form 1</a></li>
        <li><a href="/form-02"><i class="las la-wind"></i> Form 2</a></li>
        <li><a href="/form-03"><i class="las la-wind"></i> Form 3</a></li>
        <li><a href="/form-04"><i class="las la-wind"></i> Form 4</a></li>
        <li><a href="/form-05"><i class="las la-wind"></i> Form 5</a></li>
    </ul>
</nav>