@page "/counter"  
@*^^^ This is a page directive, identifying the URL *@
@rendermode InteractiveServer
@*^^^ Blazor supports different "render modes" which affect "where" the page's HTML, etc. is generated (or "rendered")*@

<PageTitle>Counter (the Traditional Example)</PageTitle>
@*^^^^  The title of your page in the browser tab ^^^^*@

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>
                                @*^^ field *@
<button @onclick="IncrementCount">Increase</button>
<button @onclick="DecrementCount">Decrease</button>
<input type="range" min="1" max="10" step="1" @bind-value="Amount" />

@code {
    // This "code block" is the "contents" of my Counter class
    private int currentCount = 0; // field

    private int Amount { get; set; } = 1;

    private void IncrementCount()
    {
        currentCount += Amount;
    }
    private void DecrementCount()
    {
        currentCount -= Amount;
    }
}

<blockquote class="card">
    <h4>Diagnostics</h4>
    <ul>
        <li>CurrentCount: @currentCount</li>
        <li>Amount: @Amount</li>
    </ul>
</blockquote>